.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196f3;
    padding: 20px;
    gap: 10px;
}

.gridItem {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    cursor: move;
    object-fit: cover;
    transition: border 0.3s;
}

.gridContainer div:active {
    opacity: 0.5;
}
